<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/"> Google.com </a> <!-- theStartupSpace</a> -->
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: routeIs('/')}"><a href="#/">Home</a>
                </li>
                <li ng-class="{active: routeIs('/')}"><a href="#/createpost">Create post</a>
                </li>
                <li ng-class="{active: routeIs('/messages')}"><a href="#/messages">Messages ({{unreadConvCount}})</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="{active: routeIs('/help')}"><a href="#/help">Help</a>
                        </li>
                        <li><a href="#/credits">Credits</a>
                        </li>
                        <li><a href="#/about">About</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#/contact">Contact</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Search box -->
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search..">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn"><a href="#/signup"><span class="glyphicon"><img src="images/glyphicons_free/glyphicons/glyphicons-4-user.png"/></span> Sign Up</a>
                </li>
                <li ng-hide="isLoggedIn">
                    <a data-toggle="modal" data-target="#loginModal">
                        <img src="images/glyphicons_free/glyphicons/glyphicons-387-log-in.png" /> Login</a>
                </li>
                <li ng-show="isLoggedIn">
                    <img src="{{profileImage}}" width="40" height="40" />
                    {{name}}
                </li>

                <li ng-show="isLoggedIn">
                    <a ng-click="logout()">
                        <img src="images/glyphicons_free/glyphicons/glyphicons-387-log-in.png" /> Profile</a>
                </li>

                <li ng-show="isLoggedIn">
                    <a ng-click="logout()">
                        <img src="images/glyphicons_free/glyphicons/glyphicons-387-log-in.png" /> Logout</a>
                </li>
                <ss-login-box></ss-login-box>

            </ul>
        </div>
    </div>
</nav>
