<!doctype html>
<html lang="en" ng-app="testApp">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <div class="container" ng-controller="FirebaseController">
        {{data  }}
        <button ng-click="createUser()">Perform</button>
        <button ng-click="login()">Login</button>
        <button ng-click="logout()">Logout</button>
        <button ng-click="write()">Write</button>
        <button ng-click="writeToArray()">Write to array</button>
    </div>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <!-- firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

    <!-- angular-fire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

    <script src="app.js"></script>

</body>

</html>
