.ss-global-style {
    background-color: #EEEEEE;
}

.directive-post-containter {
    background-color: #FFF;
    padding: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
    box-shadow: 0px 0px 10px #a2a2a2;
}

.directive-post-comments {
    background-color: #EEEEEE;
    padding: 10px;
    margin-left: 10px;
}

.comment-view {
    margin-bottom: 10px;
}
