<div class="directive-post-containter">
    <div class="row">
        <div class="col-sm-2">
            <img src="{{postData.author_image}}" style="width: 100%; height: 100%" />
            <div align="center" style="font-size:13px;">{{postData.author_name}}</div>
        </div>

        <div class="col-sm-10">
            <div class="row">
                <b>{{postData.title}}</b>
                <button class="btn btn-warning btn-xs" style="float:right">Send a message</button>
            </div>

            <div class="row">
                {{postData.description}}
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class=" directive-post-comments">

            <!-- all comments -->
            <div class="row" ng-repeat="comment in postData.comments">
                <div class="col-sm-1">
                    <img src="{{comment.author_image}}" style="width: 160%; height:160%" />
                </div>
                <div class="col-sm-11 comment-view">
                    <b>{{comment.author_name}}</b><br/>
                    {{comment.data}}
                </div>
            </div>

            <!-- add comment -->
            <div class="row" ng-hide="isLoggedIn">
                <div class="col-sm-12">
                    <small>Please login to add comment.</small>
                </div>
            </div>
            <div class="row" ng-show="isLoggedIn">
                <div class="col-sm-1">
                    <img src="{{comment_image}}" style="width: 160%; height: 160%" />
                </div>
                <div class="col-sm-11">
                    <div class="form-group">
                        <textarea ng-disabled="isAddingComment" ng-model="postData.newcomment" rows="1" ng-keypress="_key_press($event)"  class="form-control" type="text" placeholder="add a comment.."></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
