<!-- Modal -->
<div id="alertModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <!-- Modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <!-- model header ends -->

            <!-- Modal body -->
            <div class="modal-body">
                <div ng-bind-html="message | to_trusted_html" style="color:red"></div>

            </div>
            <!-- model body ends -->

            <!-- Model footer -->
            <div class="modal-footer">
                <button ng-click="_click_button()" type="button" class="btn btn-primary">{{buttonText}}</button>
            </div>
            <!-- model footer ends -->

        </div>
        <!-- model content ends -->
    </div>
</div>
