<!-- Modal -->
<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <!-- Modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div> <!-- model header ends -->

            <!-- Modal body -->
            <div class="modal-body">

                <div ng-show="showWarning" class="alert alert-warning">
                    <strong>Error!</strong> {{warnMessage}}
                </div>

                <!-- Login form -->
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input ng-disabled="isLoggingIn" ng-model="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input ng-disabled="isLoggingIn" ng-model="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button ng-disabled="isLoggingIn" type="reset" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button ng-disabled="isLoggingIn" ng-click="login()" type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </fieldset>
                </form> <!-- login form ends -->

            </div> <!-- model body ends -->

            <!-- Model footer -->
            <!--
            <div class="modal-footer">
                <label>New user?</label>
                <a data-dismiss="modal" ng-click="_click_signup()" href="#/signup">Sign up!</a>
            </div> --> <!-- model footer ends -->

        </div> <!-- model content ends -->
    </div>
</div>
