<form name="createPostForm" class="form-horizontal">
    <fieldset>
        <legend>Create a post</legend>

        <div ng-show="showWarning" class="alert alert-warning">
            <strong>Error!</strong>  <span ng-bind-html="warnMessage | to_trusted_html"></span>
        </div>

        <!-- Title -->
        <div class="form-group">
            <label for="inputTitle" class="col-lg-2 control-label">Title</label>
            <div class="col-lg-10">
                <input ng-disabled="isCreatingPost" ng-model="createPostObject.title" type="title" name="inputTitle" class="form-control" id="inputTitle" placeholder="Title">
            </div>
        </div>
        <br/>

        <!-- Description -->
        <div class="form-group">
            <label for="inputDescription" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
                <textarea ng-disabled="isCreatingPost" ng-model="createPostObject.description" placeholder="Description" class="form-control" rows="3" id="textArea"></textarea>
            </div>
        </div>
        <br/>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button ng-disabled="isCreatingPost" type="reset" class="btn btn-default" ng-click="_click_cancel()">
                    <label>Cancel</label>
                </button>
                <button ng-disabled="isCreatingPost" ng-click="createPost()" type="submit" class="btn btn-primary">
                    <label ng-hide="isCreatingPost">Post</label>
                    <label ng-show="isCreatingPost">
                        <img src="images/ajax-loader.gif" /> Saving post..</label>
                </button>
            </div>
        </div>
    </fieldset>
</form>

<alert-popup></alert-popup>
