<div class="container-fluid">
    <div class="row">
        <div class="col-md-8" ng-controller="PostsController">
            <div ng-repeat="post in posts">
                <post post-data="post"></post>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Regional groups</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a>All cities</a>
                        </li>
                        <li><a>Hyderabad</a>
                        </li>
                        <li><a>Bangalore</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                NCR <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a>Entire NCR</a>
                                </li>
                                <li class="divider"></li>
                                <li><a>Delhi</a>
                                </li>
                                <li><a>Gurgaon</a>
                                </li>
                                <li><a>Noida</a>
                                </li>
                            </ul>
                        </li>
                        <li><a>Chennai</a>
                        </li>
                        <li><a>Jaipur</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Filter posts</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a>All posts</a>
                        </li>
                        <li><a>Startup requirements</a>
                        </li>
                        <li><a>Candidates looking for job/internship</a>
                        </li>
                        <li><a>Freelancing</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
