<div class="container-fluid" ng-controller="MessagesController" >
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li style="cursor:pointer" class="list-group-item" ng-class="{active:$index==selectedConvIndex}"
                    ng-repeat="conversation in conversations" ng-click="loadSingleConversation(conversation)">
                    <span class="badge">{{conversation.read_status}}</span>
                    <b><u>{{conversation.title}}</u></b>
                    <br/>

                    <b ng-repeat="partner in conversation.partners">
                        <img width="40" height="40" class="img-circle" ng-src="{{partner.image}}"/>
                    </b>
                </li>
            </ul>
        </div>

        <div class="col-md-9" style="background-color: white; padding: 0px; box-shadow: 0px 0px 1px #000  ">

            <div style="padding: 10px">
                <div class="list-group" ng-repeat="message in conversation.messages">
                    <img width="30" height="30" ng-src="{{message.author_image}}"/>
                    <b>{{message.author_name}}</b>
                    <p class="list-group-item-text">{{message.body}}</p>
                    <hr/>
                </div>
            </div>

            <div style="padding: 10px; margin: 0px; background-color: #F6F7F8">
                <textarea rows="3" ng-disabled="isAddingMessage" ng-model="newMessage.data" ng-keypress="_key_press($event)"  class="form-control" type="text" placeholder="Write a message.."></textarea>
            </div>
        </div>
    </div>
</div>
