<div ng-controller="SignUpController">
    <form name="signupForm" class="form-horizontal">
        <fieldset>
            <legend>Sign up</legend>

            <div ng-show="showWarning" class="alert alert-warning">
                <strong>Error!</strong>  <span ng-bind-html="warnMessage | to_trusted_html"></span>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input ng-disabled="isSigningUp" ng-model="signupObject.email" type="email" name="inputEmail" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <br/>

            <!-- Password -->
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input ng-disabled="isSigningUp" ng-model="signupObject.password" type="password" class="form-control" name="inputPassword" placeholder="Password">
                </div>
            </div>

            <!-- Confirm password -->
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Confirm password</label>
                <div class="col-lg-10">
                    <input ng-disabled="isSigningUp" ng-model="signupObject.confirm_password" type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm password" name="inputConfirmPassword">
                </div>
            </div>
            <br/>

            <!-- Name -->
            <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input ng-disabled="isSigningUp" ng-model="signupObject.name" type="text" class="form-control" name="inputName" id="inputName" placeholder="Name">
                </div>
            </div>

            <!-- Account type -->
            <div class="form-group">
                <label class="col-lg-2 control-label">Account type</label>
                <div class="col-lg-10">
                    <div class="radio">
                        <label>
                            <input ng-disabled="isSigningUp" ng-model="signupObject.type" type="radio" name="inputType" value="individual" checked="">Individual
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input ng-disabled="isSigningUp" ng-model="signupObject.type" type="radio" name="inputType" value="company">Company
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button ng-disabled="isSigningUp" type="reset" class="btn btn-default" ng-click="_click_cancel()">
                        <label>Cancel</label>
                    </button>
                    <button ng-disabled="isSigningUp" ng-click="signup()" type="submit" class="btn btn-primary">
                        <label ng-hide="isSigningUp">Sign up</label>
                        <label ng-show="isSigningUp">
                            <img src="images/ajax-loader.gif" />Signing up..</label>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>

    <alert-popup></alert-popup>
</div>
